body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container {
  background: white;
  padding: 20px;
  width: 500px;
  border-radius: 6px;
}

select, button {
  padding: 8px;
  margin: 5px 0;
}

.article {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.article h3 {
  margin: 5px 0;
}

.article a {
  color: blue;
  text-decoration: none;
}
